.bgModal {
  position: fixed;

  display: none;
  z-index: 200;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;

  background: rgba(166, 166, 166, 0.5);
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  max-width: 858px;
  width: 90%;
  background: #f7f7f7;

  max-height: 90vh;
  overflow-y: auto;

  position: relative;

  padding: 40px 0;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  font-family: "Barlow";
  font-style: normal;

  select {
    height: 44px;
    padding: 8px 12px;
    background: #f7f7f7;
    border: 1px solid #273a51;
    border-radius: 12px;

    font-weight: 400;
    font-size: 16px;
    color: #273a51;
  }

  input[type="time"],
  input[type="date"] {
    padding: 4px 8px;
    gap: 4px;

    height: 38px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #273a51;

    border: 1px solid #273a51;
    border-radius: 12px;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 10px;

    transition: background 400ms;

    &:hover {
      background: #e7975d;
    }
  }

  h2 {
    font-size: 32px;
    font-weight: 500;

    line-height: 40px;
    color: #1e1e1e;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

.buttonLock {
  font-weight: 600;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  font-family: "Barlow";
  font-style: "normal";

  border: none;
  color: #f7f7f7;
  background: #273a51;
}

.section {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  color: #1e1e1e;
  opacity: 0.7;

  .textContainer {
    padding-left: 40px;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  div {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 62px;

    label p {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }

  h3 {
    font-weight: 600;

    font-size: 20px;
    line-height: 26px;
  }
}

@mixin primary-button {
  max-width: 200px;
  padding: 5px 10px;
  height: 43px;
  border-radius: 8px;

  background: #e7975d;
  color: #e7e7e7;
  font-size: 16px;
  font-family: "Barlow";
  font-weight: 600;

  line-height: 19px;

  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
  }
}

.newLockTime {
  @include primary-button();
  margin-left: 24px;
}

.saveButton {
  @include primary-button();
}

@mixin button-icon {
  width: 30px;
  height: 30px;
  font-size: 18px;

  background: none;
  border: none;

  cursor: pointer;
}

.closeButton {
  @include button-icon();

  position: absolute;
  top: 10px;
  right: 10px;
}

.buttonContainer {
  width: 100%;

  display: flex;
  justify-content: center;
}

.lockedArea {
  width: 100%;
  padding: 0 24px;

  .titleLocked {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.7;
    font-family: "Barlow";
    font-style: normal;
  }
}

.lockedItem {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid #c9c9c9;

  .lockedFields {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
  }

  .bottomButton {
    display: flex;
    align-items: center;
    justify-content: right;

    button {
      @include button-icon();
      border: 1px solid #273a51;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #d10438;
    }
  }
}

@media (max-width: 450px) {
  .lockedItem .lockedFields {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .section div {
    gap: 5px;
  }
}

@media (min-width: 660px) {
  .lockedItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 660px) {
  .section .textContainer {
    width: 100%;
  }

  .wrapp {
    flex-direction: column;
    gap: 20px;

    div {
      width: 100%;
      padding-left: 40px;
      gap: 43px;
    }
  }

  .align {
    max-width: 150px;
  }
}

.message {
  width: 100%;
  padding: 10px;
  color: #1e1e1e;

  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  p {
    margin-top: 5px;
    font-size: 14px;
  }
}

.backButton {
  width: 30px;
  height: 30px;
  background: none;
  border: none;

  position: absolute;
  left: 10px;
  top: 10px;

  font-size: 20px;

  cursor: pointer;
  color: rgb(231, 151, 93);
}

@media (max-width: 490px) {
  .modal {
    select,
    input[type="time"] {
      font-size: 14px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 14px;
    }

    p,
    .section label p {
      font-size: 12px;
    }
  }

  .section {
    flex-direction: column;
    div {
      width: 100%;
      gap: 5px;
    }
  }

  .section .textContainer {
    padding-left: 24px;
  }

  .wrapp div {
    padding-left: 24px;
    gap: 5px;
  }

  .align {
    max-width: 300px;
    padding-left: 24px;
  }
}
