@mixin style_font_h1 {
  font-family: $font-family-four;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: $black-color;

  @media (max-width: 500px) {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin style_font_description {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.7;

  @media (max-width: 500px) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin style_button {
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 12px 24px;
  width: 176px;
  height: 43px;
  background: $orange-color;
  border-radius: 8px;
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: $white;
  transition: 0.4s;

  &:hover {
    filter: brightness(0.9);
  }

  @media (max-width: 600px) {
    width: 155px;
    height: 41px;
    font-size: 14px;
    line-height: 17px;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  @include center;
  overflow: hidden;

  .button {
    @include style_button;
    align-self: center;
  }
}

.content {
  max-width: 1216px;
  width: 100%;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    @include style_font_h1;
  }

  p {
    @include style_font_description;
  }

  .carousel {
    width: 100%;
    height: 310px;
    overflow: unset;

    .card {
      display: flex;
      // max-width: 384px;
      max-width: 300px;
      width: 100%;
      // height: 310px;
      // border: 1px solid red;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    min-height: unset;
  }
  .content {
    .carousel {
      .card {
        max-width: 358px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin-top: 50px;

    .button {
      margin-top: 32px;
    }
  }
  .content {
    max-width: 327px;
    min-height: unset;
    justify-content: flex-start;

    p {
      margin-top: 18px;
    }

    .carousel {
      margin-top: 25px;
      height: 156px;

      .card {
        max-width: 156px;
        max-height: 153px;
      }
    }
  }
}
