.checkboxContainer {
  max-width: 56px;
  min-width: 56px;
  width: 56px;
  height: 28px;

  padding: 2.8px;
  gap: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  background: $light-blue-color;
  border-radius: 16.8px;

  cursor: pointer;

  &.activate {
    background: $orange-color;
  }
}

.circle {
  max-width: 22px;
  min-width: 22px;
  width: 22px;
  height: 22px;
  transition: 400ms;

  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;

  background: $white;
  color: $light-blue-color;
  box-shadow: 0 1px 3px rgba(16, 24, 40, 0.1), 0 1px 2px rgba(16, 24, 40, 0.06);

  &.activate {
    transform: translateX(130%);
  }
}
