.uploadButton {
  width: 76px;
  height: 33px;
  border: 2px solid #e7975d;
  font-size: 14px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7975d;
}

.container {
  width: 100%;
  margin-top: 10px;
}

.uploadSubTitle {
  font-size: 14px;
  font-weight: 600;
  font-family: "Barlow";
  font-style: normal;
  color: #b5b5b5;
}

.dashed {
  border: 1px dashed #273a51;
  max-width: 500px;
  width: 100%;
  // minHeight: 164px;
  max-height: 120px;
  min-height: 200px;
  overflow-y: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.fileUploadInfo {
  height: 57px;
  background: #f0f0f0;
  border-bottom: 3px solid #273a57;
  display: flex;
  align-items: center;

  gap: 10px;
  padding: 10px;

  h3 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
}

.buttonDeleteFile {
  width: 120px;
  height: 30px;
  float: right;
  text-decoration: underline;
  color: #d10438;
  font-weight: 600;
  font-size: 14px;
  margin-top: 16px;
  border: none;
  background: none;
  cursor: pointer;
}

.deleteFileMessage {
  display: flex;
  align-items: center;
  gap: 15px;
}

.confirmMessage {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0a0a0a;
}

@mixin button-primary($color-bg) {
  width: 50px;
  height: 30px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border: none;
  color: #f7f7f7;
  background: $color-bg;
  border-radius: 5px;
  cursor: pointer;
}

.orange {
  @include button-primary(#e7975d);
}

.blue {
  @include button-primary(#273a51);
}
