@mixin h1 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #1e1e1e;

  @media (max-width: 500px) {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
}

@mixin label {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
}

.container {
  width: 100%;
  height: 100vh;
  background: #ffddc4;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.imagesLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .img1 {
    width: 114px;
    height: 109px;
    align-self: flex-end;
    margin-right: 30px;
  }
}

.imageRight {
  position: absolute;
  right: 0;
  bottom: 0;
}

.modalLogin {
  max-width: 592px;
  width: 100%;
  // min-height: 669px;
  background: #f7f7f7;
  box-shadow: 2px 2px 4px rgba(113, 173, 173, 0.11), 4px 4px 32px rgba(198, 216, 216, 0.5);
  border-radius: 24px;
  z-index: 1;
  padding: 50px 104px;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;

    h1 {
      @include h1;
      margin-bottom: 32px;
    }

    .messageSendEmail {
      @include label;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 32px;
    }

    label {
      @include label;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 8px;

      & + label {
        margin-top: 24px;
      }

      input {
        width: 100%;
        height: 52px;
        background: #f7f7f7;
        border: 1px solid #c9c9c9;
        border-radius: 8px;
        @include label;
        font-size: 14px;
        line-height: 18px;
        padding: 14px 10px 14px 16px;
        cursor: pointer;
        transition: 0.4s;
        outline: none;

        &::placeholder {
          color: #b5b5b5;
        }

        &:focus {
          outline-color: #632700;
          border: 1px solid #632700;
        }

        &:hover {
          background: #faece3;
          border: 1px solid #632700;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px #faece3 inset !important;
        }
      }

      .inputError {
        border: 1px solid #d10438;

        &::placeholder {
          color: #d10438;
        }

        &:focus {
          outline: none;
        }

        & ~ .iconEye {
          .iconErrorSVG {
            display: block;
            color: #d10438;
          }

          .iconEyeSVG {
            display: none;
          }
        }
      }

      .iconErrorEmailSVG {
        color: #d10438;
        font-size: 24px;
        position: absolute;
        bottom: 12px;
        right: 14px;
      }

      // nth-child(3) label password index.tsx
      // nth-child(2) label password ResetPassword.tsx
      &:nth-child(3),
      &:nth-child(2) {
        position: relative;

        input {
          padding-right: 45px;
        }

        button {
          height: 61%;
          width: 50px;
          bottom: 0;
          right: 0;
          position: absolute;
          font-size: 24px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background: transparent;

          svg {
            font-size: 24px;
          }
        }
      }

      // .resetPassword {
      //   @extend :nth-child(3);
      // }

      .spanError {
        @include label;
        font-size: 12px;
        line-height: 14px;
        color: #d10438;
        position: absolute;
        bottom: -17px;
      }
    }

    .linkRecover {
      margin-top: 16px;
      @include label;
      font-size: 14px;
      line-height: 18px;
      text-decoration-line: underline;
      color: #632700;
      align-self: flex-end;
    }

    .buttonLogin {
      margin: 48px 0;
      height: 43px;
      border: none;
      background: #e7975d;
      border-radius: 8px;
      @include label;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #f7f7f7;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        filter: brightness(0.9);
      }
    }
    p {
      @include label;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background: #1e1e1e;
        margin-left: 12px;
        top: 10px;
      }

      &::before {
        margin-left: -50px;
      }
    }

    .loginAlternative {
      margin: 48px auto 0;
      display: flex;
      gap: 16px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 12px;
        width: fit-content;
        height: 40px;
        background: #f7f7f7;
        box-shadow: 2px 2px 4px #dcdcdc, 4px 4px 32px #eaecec;
        border-radius: 12px;
        @include label;
        font-weight: 600;

        img {
          width: 21px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .modalLogin {
    max-width: 503px;
    padding: 50px 64px;
  }

  .imagesLeft {
    .img1 {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    overflow: hidden;
  }

  .imagesLeft,
  .imageRight {
    display: none;
  }

  .modalLogin {
    width: 100%;
    height: 100%;
    border-radius: unset;
    padding: 50px 24px;

    form {
      .buttonLogin {
        height: 41px;
      }
    }
  }
}
