.container {
  width: 100%;
  height: 100vh;
  background: $light-orange-color;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.imagesLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .img1 {
    width: 114px;
    height: 109px;
    align-self: flex-end;
    margin-right: 30px;
  }
}

.imageRight {
  position: absolute;
  right: 0;
  bottom: 0;
}

.content {
  max-width: 592px;
  width: 100%;
  background: $white-color;
  box-shadow: 2px 2px 4px $box-shadow-color1, 4px 4px 32px $box-shadow-color2;
  border-radius: 24px;
  z-index: 1;
  padding: 50px 104px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $font-family-four;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: $text-black-color;
    text-align: center;
  }

  p {
    margin-top: 16px;
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $text-black-color;
  }

  img {
    width: 247px;
  }
}

@media screen and (max-width: 1024px) {
  .imagesLeft {
    .img1 {
      display: none;
    }
  }

  .content {
    max-width: 503px;
    padding: 50px 64px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    overflow: hidden;
  }

  .content {
    width: 100%;
    height: 100%;
    border-radius: unset;
    padding: 50px 24px;

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
