.dashboard {
  width: 100%;
  min-height: 100vh;

  display: flex;

  // display: grid;

  //   minmax(80px, 224px)
  // grid-template-columns: minmax(80fr, 224px) 929px 367px;

  // grid-template-columns: auto 1fr max(367px);
  // grid-template-areas: "sidebar content calendar";
}

@media (max-width: 1023px) {
  // .dashboard {
  //   grid-template-columns: 1fr;
  //   grid-template-areas:
  //     "calendar"
  //     "content";
  // }

  .dashboard {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  // .dashboard {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 84px;
  //   grid-template-areas:
  //     "content"
  //     "calendar"
  //     "sidebar";
  // }

  .dashboard {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
