.container {
  font-family: "Barlow";
  font-style: normal;
}

.buttonsSection {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
  margin-bottom: 49px;
}

@mixin button-style($bg) {
  padding: 12px;
  gap: 8px;

  background: $bg;
  border: 1px solid $bg;

  border-radius: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 310px;
  width: 100%;
  color: #f7f7f7;

  &.outline {
    background: none;
    color: $bg;
  }
}

.buttonBlue {
  @include button-style(#273a51);
}

.buttonOrange {
  @include button-style(#e7975d);
}

.buttonNew {
  grid-area: buttom;
  max-width: none;
}

.select {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;

  border-radius: 12px;
  border: 1px solid #273a51;
  font-weight: 500;
  color: #273a51;

  margin: 10px 0;
}

.informationHeader {
  width: 100%;
  padding: 0 20px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #1e1e1e;
  }
}

.centerButton {
  justify-content: center !important;
}

.profinalContainer {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 500px) {
  .grid {
    display: grid;
    grid-template-rows: 1fr 48px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title selects"
      "buttom buttom";

    h2 {
      grid-area: title;
    }

    .selectsContainer {
      grid-area: selects;
      display: flex;
      gap: 5px;
    }
  }
}

@media (min-width: 420px) {
  .buttonsSection {
    flex-direction: row;
  }
}

@media (min-width: 630px) {
  .buttonsSection {
    justify-content: flex-start;
  }
}

@media (min-width: 769px) {
  .grid {
    grid-template-rows: 56px;
    grid-template-columns: auto 280px 190px;
    grid-template-areas: "title selects buttom";
    gap: 10px;
  }
}
