.selectContainer {
  position: relative;

  .itemsContainer {
    width: 152px;
    border-radius: 12px;

    position: absolute;

    list-style: none;

    color: #1e1e1e;
    background: #f7f7f7;
    box-shadow: 2px 2px 4px rgba(113, 173, 173, 0.11), 4px 4px 32px rgba(198, 216, 216, 0.5);

    display: flex;
    flex-direction: column;
    gap: 12px;
    right: 0;
    z-index: 10;

    &.top {
      bottom: 10px;
    }

    li {
      font-family: "Barlow";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 4px 12px;

      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
    }
  }
}

.iconContainer {
  cursor: pointer;
  font-size: 16px;
}

.status {
  display: block;
  content: "";

  cursor: pointer;

  width: 30px;
  height: 24px;
  border-radius: 8px;
  background: #e7975d;
}
