.h5 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $light-gray-color;
  width: 100%;
}

.flex_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $black-color;
  margin: 30px 0 44px;

  .flex_item {
    width: 40%;
    margin-bottom: 21px;

    h4 {
      font-weight: 500;
      margin-bottom: 12px;
    }
  }
}

.btns {
  display: flex;
  gap: 30px;
  justify-content: center;
}


.title_container {
  margin: 92px 66px;
  text-align: center;

  h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: $text-black-color;
    line-height: 40px;
    margin-bottom: 42px;
    opacity: 0.7;
  }
}

.Button {
  all: unset;
  height: 43px;
  margin: 0 auto;
  padding: 0 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include font-style($font-family-primary, normal, 600, 16px, 19px);
  background: $orange-color;
  color: $white-color;
}

.Button2 {
  all: unset;
  height: 43px;
  margin: 0 auto;
  padding: 0 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include font-style($font-family-primary, normal, 600, 16px, 19px);
  background: inherit;
  color: $orange-color;
  border: 2px solid $orange-color;
}

.IconButton {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $violet;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background-color: $violet-hover;
  }
  &:focus {
    box-shadow: 0 0 0 2px $violet-focus;
  }
}

.TabsContainer {
  width:fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 8px;
  border-bottom: 1px solid $white-second-color;

  overflow-x: auto;
}

.SelectTabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include font-style($font-family-primary, normal, 500, 24px, 28px);
  background: transparent;
  border: none;
  min-width: 210px;

  padding-bottom: 5px;

  &.active {
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
    border-top: 1px solid transparent;
  }

  &.ghost {
    color: $text-black-color;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .SelectTabButton {
    font-size: 18px;
  }
}
