.sidebarmenu {
  border: 1px solid transparent;
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  z-index: 200;

  width: 80px;
  transition: 1s;
  animation: open 1s ease-in-out;

  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(185, 217, 217, 0.52), 0px 4px 8px 4px rgba(224, 228, 228, 0.18);

  .overlaySubmenuMobile {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .logo {
    display: block;
    width: 30px;
    // height: 45px;
    height: 63px;
    object-fit: none;
    align-self: flex-start;
  }

  .logoExpand {
    display: none;
    width: 196px;
    height: 54px;
  }

  ul {
    z-index: 1;
    margin-top: 63px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border: 1px solid blue;
    height: 100%;
    align-self: flex-start;

    li,
    li a {
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: #3a4d65;
      cursor: pointer;
      transition: 0.1s;
      //   position: relative;

      &:last-child {
        // border: 1px solid blue;
        // display: block;
        // flex: auto;
        // display: flex;
        // align-items: flex-end;
        margin-top: auto;

        &::before {
          bottom: 5px;
        }
      }

      & + li {
        margin-top: 38px;
      }

      svg {
        // border: 1px solid red;
        width: 32px;
        height: 32px;

        path {
          fill: #d4d4d4;
        }
      }

      &::before {
        display: none;
        // border: 1px solid blue;
        content: "";
        background-image: url("/select.png");
        background-repeat: no-repeat;
        background-size: contain;
        filter: drop-shadow(0px 0px 12px #ec1808) drop-shadow(0px 0px 30px #ec1808);
        width: 14px;
        height: 78px;
        position: absolute;
        left: 0;
      }

      &.active {
        &::before {
          display: block;
        }

        svg {
          path {
            fill: #e7975d;
          }
        }
      }
    }
  }

  span {
    // border: 1px solid red;
    // display: block;
    height: 30px;
    flex: 1;
    align-content: flex-end;
  }
}

.sidebarmenuMobile {
  display: none;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .closeButton {
    width: 35px;
    height: 35px;

    font-size: 30px;

    background: none;
    border: none;
  }
}

@media (max-width: 425px) {
  .sidebarmenu {
    // border: 1px solid red;
    width: 100%;
    display: none;

    ul {
      margin-top: 0;
    }

    .logo,
    .logoExpand {
      display: none;
    }
  }

  .sidebarmenuMobile {
    display: block;
    // border: 1px solid red;
    z-index: 190;
    bottom: 0;

    width: 100%;
    height: 84px;
    padding: 16px 32px;
    background: #f7f7f7;
    box-shadow: 0px -4px 4px rgba(185, 217, 217, 0.12), 0px -4px 8px 4px rgba(224, 228, 228, 0.18);

    // display: flex;
    // align-items: center;

    position: fixed;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      a li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #1e1e1e;

        // position: relative;

        span {
          width: 48px;
          height: 48px;
          // border: 1px solid red;

          display: flex;
          align-items: center;
          justify-content: center;

          transition: all 0.1s;

          svg {
            width: 30px;
            height: 30px;

            path {
              fill: #e7975d;
              opacity: 0.5;
            }
          }
        }

        &.active {
          span {
            background: #e7975d;
            box-shadow: 2px 2px 4px #efeeee, 4px 4px 32px rgba(239, 238, 238, 0.6);
            border-radius: 12px;

            svg {
              path {
                fill: #f7f7f7;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.buttonMenu {
  display: none;

  position: absolute;
  z-index: 10;
  top: 40px;
  left: 20px;

  width: 35px;
  height: 35px;
  background: none;
  border: none;

  font-size: 30px;
}

.subMenuDropDown {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 1px;
  width: 221px;
  min-height: 383px;
  background: #f7f7f7;
  box-shadow: -2px -2px 4px rgba(113, 173, 173, 0.11), -4px -4px 32px rgba(198, 216, 216, 0.5);
  border-radius: 12px 12px 0px 0px;
  padding: 26px;
  gap: 16px;
  display: flex;
  flex-direction: column;

  transition: 400ms;
  opacity: 0.5;

  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1e1e1e;

  &.show {
    top: 0;
    opacity: 1;
  }

  a {
    li {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    cursor: pointer;

    &:first-child {
      display: none;
    }

    &:hover {
      background: red;
    }

    span {
      svg {
        width: 20px;
        height: 20px;

        path {
          fill: #e7975d;
          opacity: 0.5;
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .sidebarmenu {
    display: none;
  }

  .buttonMenu {
    display: block;
  }
}
