.profissinalCard {
  width: 100%;
  padding: 10px;

  background: $white-color;
  box-shadow: 2px 2px 4px $box-shadow-color1, 4px 4px 32px $box-shadow-color2;

  font-family: $font-family-primary;
  font-style: normal;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }

  .showCurriculun {
    color: $blue-color;
    border: none;
    font-weight: 500;
    border-bottom: 1px solid $blue-color;
    background: none;
  }
}

.userContainer {
  grid-area: user;

  width: 100px;
  height: 100px;
  border-radius: 50%;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  font-size: 58px;

  color: $light-blue-color2;
  background: $white-second-color;

  .logoCamera {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 32px;
    height: 32px;

    font-size: 22px;

    background: $light-blue-color5;
    border-radius: 50%;

    color: $white-color;
  }
}

.info1 {
  grid-area: rightinfo1;
}
.info2 {
  grid-area: rightinfo2;
}

.rowButtons {
  button {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid $white-second-color;
    border-radius: 12px;

    font-size: 20px;
    margin-right: 5px;

    color: $blue-color;
  }
}

@media (min-width: 485px) {
  .profissinalCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "user rightinfo1 rightinfo1"
      "user rightinfo2 rightinfo2";
  }
}

@media (min-width: 768px) {
  .profissinalCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 485px) {
  .userContainer {
    margin: inherit;
  }
}
