.sidebarmenu {
  border: 1px solid transparent;
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 200;

  width: 80px;
  transition: 1s;
  animation: open 1s ease-in-out;

  background: $white-color;
  box-shadow: 0px 4px 4px rgba(185, 217, 217, 0.52), 0px 4px 8px 4px rgba(224, 228, 228, 0.18);

  &.open {
    width: 200px;
    overflow-x: hidden;

    li a span {
      display: block;
    }
  }

  .overlaySubmenuMobile {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .logo {
    display: block;
    width: 30px;
    // height: 45px;
    height: 63px;
    object-fit: none;
    align-self: flex-start;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

  .logoExpand {
    display: block;
    width: 156px;
    height: 54px;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

  ul {
    z-index: 1;
    margin-top: 63px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border: 1px solid blue;
    height: 100%;
    align-self: flex-start;

    li a {
      position: relative;

      span {
        display: none;
      }

      &:hover {
        &::after {
          content: attr(data-tooltip);
          position: absolute;
          left: -15%;
          bottom: -20px;

          padding: 0 5px;
          height: 30px;
          min-width: 50px;

          text-align: center;

          font-size: 15px;
          background: $white-color;
          color: $orange-color;
          border-radius: 20px;

          box-shadow: 0px 4px 4px rgba(185, 217, 217, 0.52), 0px 4px 8px 4px rgba(224, 228, 228, 0.18);
        }

        svg path {
          fill: $orange-color;
        }
      }
    }

    li,
    li a {
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: $font-family-primary;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: $blue-color;
      cursor: pointer;
      transition: 0.1s;
      //   position: relative;

      &:last-child {
        // border: 1px solid blue;
        // display: block;
        // flex: auto;
        // display: flex;
        // align-items: flex-end;
        margin-top: auto;

        &::before {
          bottom: 5px;
        }
      }

      & + li {
        margin-top: 38px;
      }

      svg {
        // border: 1px solid red;
        width: 32px;
        height: 32px;

        path {
          fill: $white-second-color;
        }
      }

      &::before {
        display: none;
        // border: 1px solid blue;
        content: "";
        background-image: url("/select.png");
        background-repeat: no-repeat;
        background-size: contain;
        filter: drop-shadow(0px 0px 12px #ec1808) drop-shadow(0px 0px 30px #ec1808);
        width: 14px;
        height: 78px;
        position: absolute;
        left: 0;
      }

      &.active {
        &::before {
          display: block;
        }

        svg {
          path {
            fill: $orange-color;
          }
        }
      }
    }
  }

  span {
    // border: 1px solid red;
    // display: block;
    height: 30px;
    flex: 1;
    align-content: flex-end;
  }
}

.openOrCloseMenu {
  display: none;
  position: absolute;

  cursor: pointer;

  align-items: center;
  justify-content: center;

  font-size: 30px;
  z-index: 50;

  height: 60px;
  width: 30px;

  top: 20px;
  left: 80px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: $orange-color;
  background: $white-color;
  box-shadow: 0px 4px 4px rgba(185, 217, 217, 0.52), 0px 4px 8px 4px rgba(224, 228, 228, 0.18);

  transition: 1s;

  &.open {
    left: 200px;
  }
}

.sidebarmenuMobile {
  display: none;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .closeButton {
    width: 35px;
    height: 35px;

    font-size: 30px;

    background: none;
    border: none;
  }
}

@media (max-width: 425px) {
  .sidebarmenu {
    // border: 1px solid red;
    width: 100%;
    display: none;

    ul {
      margin-top: 0;
    }

    .logo,
    .logoExpand {
      display: none;
    }
  }

  .sidebarmenuMobile {
    display: block;
    // border: 1px solid red;
    z-index: 190;

    width: 100%;
    height: 84px;
    padding: 16px 32px;
    background: $white-color;
    box-shadow: 0px -4px 4px rgba(185, 217, 217, 0.12), 0px -4px 8px 4px rgba(224, 228, 228, 0.18);

    // display: flex;
    // align-items: center;

    bottom: 0;
    position: fixed;

    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      a li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        font-family: $font-family-third;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: $text-black-color;

        // position: relative;

        span {
          width: 48px;
          height: 48px;
          // border: 1px solid red;

          display: flex;
          align-items: center;
          justify-content: center;

          transition: all 0.1s;

          svg {
            width: 30px;
            height: 30px;

            path {
              fill: $orange-color;
              opacity: 0.5;
            }
          }
        }

        &.active {
          span {
            background: $orange-color;
            box-shadow: 2px 2px 4px #efeeee, 4px 4px 32px rgba(239, 238, 238, 0.6);
            border-radius: 12px;

            svg {
              path {
                fill: $white-color;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.buttonMenu {
  display: none;

  position: absolute;
  z-index: 10;
  top: 40px;
  left: 20px;

  width: 35px;
  height: 35px;
  background: none;
  border: none;

  font-size: 30px;
}

.subMenuDropDown {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 1px;
  width: 221px;
  min-height: 383px;
  background: $white-color;
  box-shadow: -2px -2px 4px $box-shadow-color1, -4px -4px 32px $box-shadow-color2;
  border-radius: 12px 12px 0px 0px;
  padding: 26px;
  gap: 16px;
  display: flex;
  flex-direction: column;

  transition: 400ms;
  opacity: 0.5;

  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: $text-black-color;

  &.show {
    top: 0;
    opacity: 1;
  }

  @media (max-width: 425px) {
    position: fixed;
    top: inherit;
    bottom: -100%;

    &.show {
      top: inherit;
      bottom: 80px;
    }
  }

  a {
    li {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    cursor: pointer;

    &:first-child {
      display: none;
    }

    // &:hover {
    //   background: red;
    // }

    span {
      svg {
        width: 20px;
        height: 20px;

        path {
          fill: $orange-color;
          opacity: 0.5;
        }
      }
    }
  }
}

.messageContainer {
  position: relative;

  .circle {
    content: "";
    display: block;

    width: 10px;
    height: 10px;

    position: absolute;
    top: 0;
    right: 0;

    border-radius: 5px;
    background: $red-color;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .sidebarmenu {
    display: none;
  }

  .buttonMenu {
    display: block;
  }
}

@media (min-width: 1024px) {
  .openOrCloseMenu {
    display: flex;
  }
}
