.Sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-top: 12px;
  background: #f7f7f7;
  box-shadow: 2px 2px 4px rgba(113, 173, 173, 0.11), 4px 4px 32px rgba(198, 216, 216, 0.5);
  border-radius: 12px;
  max-width: 640px;
  height: 120px;

  p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px, 1.1vw, 18px);
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  span {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 1.1vw, 18px);
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
}

.iconClock {
  font-size: 18px;
  transform: rotateZ(90deg);
  color: #273a51;
  margin-right: 8px;
}

.statusContainer {
  grid-area: status;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.hiddenStatus {
    display: none;
  }
}

.cor {
  color: #cc8d05;
}

.iconContainer {
  cursor: pointer;
  font-size: 16px;
}

.status {
  display: block;
  content: "";

  cursor: pointer;

  width: 30px;
  height: 24px;
  border-radius: 8px;
  background: #e7975d;
}

.row {
  width: 100%;
  display: flex;
  gap: 48px;
}

.gridArea1 {
  grid-area: paciente;
}

.gridArea2 {
  grid-area: profissinal;
}

.gridArea3 {
  grid-area: horario;
}

.gridArea4 {
  grid-area: icons;
}

.selectContainer {
  position: relative;

  .itemsContainer {
    width: 152px;
    border-radius: 12px;

    position: absolute;

    list-style: none;

    color: #1e1e1e;
    background: #f7f7f7;
    box-shadow: 2px 2px 4px rgba(113, 173, 173, 0.11), 4px 4px 32px rgba(198, 216, 216, 0.5);

    display: flex;
    flex-direction: column;
    gap: 12px;
    right: 0;
    z-index: 10;

    li {
      font-family: "Barlow";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 4px 12px;

      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
    }
  }
}

@media (max-width: 513px) {
  .Sections {
    gap: 8px;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "paciente profissinal status"
      "horario horario icons";
  }

  .hiddenOnMobile {
    display: none;
  }
}

@media (min-width: 513px) {
  .iconClock {
    display: none;
  }
}

@media (max-width: 768px) {
  .Sections {
    max-width: none;
    justify-content: space-between;
  }
}
