.Sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-top: 12px;
  background: $white-color;
  box-shadow: 2px 2px 4px $box-shadow-color1, 4px 4px 32px $box-shadow-color2;
  border-radius: 12px;
  max-width: 640px;
  height: 120px;

  p {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px, 1.1vw, 18px);
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: $black-color;
  }

  span {
    font-family: $font-family-primary;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 1.1vw, 18px);
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: $black-color;
  }
}

.iconClock {
  font-size: 18px;
  transform: rotateZ(90deg);
  color: $blue-color;
  margin-right: 8px;
}

.statusContainer {
  grid-area: status;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.hiddenStatus {
    display: none;
  }
}

.cor {
  color: $yellow-color;
}

.row {
  width: 100%;
  display: flex;
  gap: 48px;
}

.gridArea1 {
  grid-area: paciente;
}

.gridArea2 {
  grid-area: profissinal;
}

.gridArea3 {
  grid-area: horario;
}

.gridArea4 {
  grid-area: icons;
}

@media (max-width: 513px) {
  .Sections {
    gap: 8px;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "paciente profissinal status"
      "horario horario icons";
  }

  .hiddenOnMobile {
    display: none;
  }
}

@media (min-width: 513px) {
  .iconClock {
    display: none;
  }
}

@media (max-width: 768px) {
  .Sections {
    max-width: none;
    justify-content: space-between;
  }
}
