.calendarContainer {
  margin-top: 20px;

  .calendar {
    width: 329px;
    // min-height: 316px;
    padding: 24px;
    background: #f7f7f7;
    box-shadow: 2px 2px 4px rgba(113, 173, 173, 0.11), 4px 4px 32px rgba(198, 216, 216, 0.5);
    border-radius: 11px;
    border: none;

    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1e1e1e;

    .buttons {
      border: none;
      background: none;

      svg {
        color: #1e1e1e;
      }
    }

    .days {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.22px;
      color: #1e1e1e;
      opacity: 0.8;
    }
  }
}

.containerNextConsultations {
  margin-top: 40px;

  h1 {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }
}

.nextConsultations {
  margin-top: 20px;
  width: 319px;
  height: 108px;
  background: #f7f7f7;
  box-shadow: 2px 2px 4px rgba(113, 173, 173, 0.11), 4px 4px 32px rgba(198, 216, 216, 0.5);
  border-radius: 8px;
  display: flex;

  .left {
    border-right: 1px solid #d4d4d4;
    width: 66px;
    padding: 20px 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .day {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.22px;
      color: #1e1e1e;
      text-transform: uppercase;
    }

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      background: #a76029;
      border-radius: 50%;

      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.22px;
      color: #ffffff;
    }
  }

  .rigth {
    width: 100%;
    padding: 17px 12px 6px 20px;

    .title {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.22px;
      color: #1e1e1e;
    }

    .name {
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.22px;
      color: #1e1e1e;
    }

    .icon {
      display: flex;
      align-items: center;
      gap: 4px;
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.22px;
      color: #1e1e1e;
    }

    .total {
      // border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
      font-family: "IBM Plex Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.22px;
      color: #1e1e1e;
    }
  }
}

@media (max-width: 1023px) {
  .containerNextConsultations {
    flex: 1;
    display: flex;
    align-items: center;

    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    margin-top: 0;

    h1 {
      display: none;
    }

    .nextConsultations {
      min-width: 327px;
      scroll-snap-align: center;
    }
  }
}

@media (max-width: 665px) {
  .containerNextConsultations {
    flex-direction: column;
    gap: 0;

    width: 100%;

    h1 {
      display: block;
      width: 100%;
    }

    .nextConsultations {
      width: 100%;
      min-width: 0;
    }
  }
}
