.consulta {
    position: absolute;
    margin-top: 2550px;
    left: 112px;
    .text {
        //styleName: Headings/H4 - Playfair Display;
        font-family: "Playfair Display";
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }
    form {
        position: relative;
        height: 700px;
        width: 650px;
        //background-color: red;
        margin-top: 20px;
        .name {
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            opacity: 70%;
            letter-spacing: 0em;
            text-align: left;
        }
        .nome {
            position: absolute;
            width: 280px;
            height: 49px;
            top: 34px;
            color: black;
            border: none;
        }
        .lastname {
            position: absolute;
            top: -20px;
            left: 330px;
            font-family: "Barlow";
            font-size: 18px;
            opacity: 70%;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .sobrenome {
            position: absolute;
            width: 280px;
            height: 49px;
            left: 330px;
            top: 34px;
            color: black;
            border: none;
        }
        .email {
            opacity: 70%;
            position: relative;
            top: 55px;
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .mail {
            position: absolute;
            width: 280px;
            height: 49px;
            top: 130px;
            color: black;
            border: none;
        }
        .date {
            position: relative;
            top: 110px;
            opacity: 70%;
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .data {
            position: absolute;
            width: 280px;
            height: 49px;
            top: 235px;
            border: none;
        }
        .tel {
            position: absolute;
            top: 78px;
            left: 330px;
            opacity: 70%;
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .telefone {
            position: absolute;
            width: 280px;
            height: 49px;
            left: 330px;
            top: 130px;
            border: none;
        }
        .horario {
            position: absolute;
            top: 180px;
            left: 330px;
            opacity: 70%;
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .horario1 {
            position: absolute;
            width: 280px;
            height: 49px;
            left: 330px;
            top: 235px;
            border: none;
        }
        .messagem {
            position: absolute;
            top: 300px;
            opacity: 70%;
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .messagemBox {
            position: absolute;
            width: 610px;
            height: 89px;
            //left: 380px;
            top: 355px;
            border: none;
        }
        .type {
            position: absolute;
            height: 29px;
            width: 144px;
            left: 0px;
            top: 440px;
            border-radius: nullpx;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .radio1 {
            position: absolute;
            left: 160px;
            top: 470px;
        }
        .presencial {
            position: absolute;
            top: 465px;
            left: 185px;
            //styleName: Body/Body - Barlow;
            font-family: "Barlow";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
        .radio2 {
            position: absolute;
            left: 270px;
            top: 470px;
        }
        .online {
            position: absolute;
            top: 467px;
            left: 295px;
            //styleName: Body/Body - Barlow;
            font-family: "Barlow";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    .motivo {
        position: absolute;
        top: 70px;
        margin-left: 750px;
        display: block;
        font-family: "Barlow";
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 500;
        //line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
    .sintomas {
        .sinto1 {
            position: absolute;
            top: 100px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto1Box {
            position: absolute;
            top: 125px;
            left: 750px;
        }
        .sinto2 {
            position: absolute;
            top: 135px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto2Box {
            position: absolute;
            top: 160px;
            left: 750px;
        }
        .sinto3 {
            position: absolute;
            top: 175px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto3Box {
            position: absolute;
            top: 200px;
            left: 750px;
        }
        .sinto4 {
            position: absolute;
            top: 210px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto4Box {
            position: absolute;
            top: 233px;
            left: 750px;
        }
        .sinto5 {
            position: absolute;
            top: 245px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto5Box {
            position: absolute;
            top: 268px;
            left: 750px;
        }
        .sinto6 {
            position: absolute;
            top: 280px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto6Box {
            position: absolute;
            top: 305px;
            left: 750px;
        }
        .sinto7 {
            position: absolute;
            top: 320px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto7Box {
            position: absolute;
            top: 345px;
            left: 750px;
        }
        .sinto8 {
            position: absolute;
            top: 360px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto8Box {
            position: absolute;
            top: 385px;
            left: 750px;
        }
        .sinto9 {
            position: absolute;
            top: 400px;
            left: 780px;
            //styleName: Body/Body Large - Barlow;
            font-family: "Barlow";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            letter-spacing: 0em;
            text-align: left;
        }
        .sinto9Box {
            position: absolute;
            top: 425px;
            left: 750px;
        }
    }
    .traco {
        position: absolute;
        height: 1px;
        width: 244px;
        left: 850px;
        background-color: #000000;
        top: 440px;
        opacity: 60%;
    }
    .wha {
        position: fixed;
    }
}

.btn {
    position: absolute;
    top: 5850px;
    background-color: #e7975d;
    border: none;
    left: 632px;
    width: 180px;
    height: 43px;
    border-radius: 8px;
    span {
        position: absolute;
        top: 13px;
        margin-left: 28.5px;
        //styleName: Button/Button - Barlow;
        font-family: "Barlow";
        font-size: 16.5px;
        font-weight: 600 bold;
        color: white;
        line-height: 100%;
        letter-spacing: 0em;
        text-align: left;
    }
}

.title {
    position: absolute;
    height: 40px;
    width: 592px;
    left: 428px;
    top: 5915px;
    border-radius: nullpx;
    //styleName: Headings/H4 - Playfair Display;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

.titleText {
    position: absolute;
    height: 80px;
    width: 1008px;
    left: 216px;
    top: 5993px;
    opacity: 70%;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(99, 39, 0, 1);
}

.lorem {
    position: absolute;
    height: 80px;
    width: 1008px;
    left: 216px;
    top: 6153px;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    line-height: 117%;
    color: black;
    opacity: 70%;
}