.informationHeader {
  width: 100%;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: $text-black-color;
  }
}

.buttonsContainer {
  max-width: 800px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
}

.buttonTop {
  font-size: 18px;
  font-weight: 500;

  color: $opacity-gray-text-color;
  cursor: pointer;

  background: none;
  border: none;

  &.active {
    color: $blue-color;
    border-bottom: 1px solid $blue-color;
  }
}

.informationData {
  display: flex;
  flex-direction: column;

  padding: 32px 24px;
  margin-top: 24px;

  background: $white-color;
  box-shadow: 2px 2px 4px $box-shadow-color1, 4px 4px 32px $box-shadow-color1;
}

.information {
  width: 100%;
  padding: 0 10px;
  padding-bottom: 50px;
}

.rowButtons {
  button {
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid $white-second-color;
    border-radius: 12px;

    font-size: 20px;
    margin-right: 5px;

    color: $blue-color;
  }
}

@media (max-width: 375px) {
  .buttonsContainer {
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 550px) {
  .informationHeaderWithButton {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .rowButtons {
    min-width: 150px;

    button {
      margin-top: 56px;
    }
  }
}

@media (min-width: 768px) {
  .informationData {
    gap: 30px;
    flex-direction: row;
  }
}
