.dashboard {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 100%;
}

.rightContainer {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

@media (max-width: 1023px) {
  .dashboard {
    display: flex;
    padding-bottom: 100px;
  }
}
