.inicial {
    position: static;
    //box-sizing: border-box;
    padding-bottom: 765px;
    .left {
        position: absolute;
        width: 488px;
        //height: 88px;
        padding: auto;
        left: 112px;
        margin-top: 203px;
        .text {
            font-family: "Playfair Display";
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 44px;
            color: #d78950;
            span {
                position: static;
                width: 488px;
                height: 160px;
                left: 0px;
                top: 104px;
                font-family: "Barlow";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                color: #a61a3e;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
                margin: 16px 0px;
            }
        }
        Button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px 24px;
            position: static;
            width: 212px;
            height: 62px;
            left: 0px;
            top: 0px;
            border: none;
            /* Primaria/01 */
            background: #e7975d;
            border-radius: 8px;
            p {
                position: static;
                width: 164px;
                height: 22px;
                left: 24px;
                top: 20px;
                /* Button/Button Large - Barlow */
                font-family: "Barlow";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                /* identical to box height */
                display: flex;
                align-items: center;
                color: #f7f7f7;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 10px;
            }
        }
    }
    //need to ajust this images to fit the screen, there is margin that is affecting the size of the page need to resolve it
    .img1 {
        position: absolute;
        height: 86px;
        width: 56px;
        left: 694px;
        padding: auto;
        margin-top: 138px;
        border: none;
    }
    .img2 {
        position: absolute;
        height: 525px;
        width: 516px;
        left: 844px;
        margin-left: 15px;
        margin-top: 80px;
        border: none;
    }
}

.inicialText {
    .banner {
        position: relative;
        height: 502px;
        //overflow-x: hidden;
        width: 1350px;
        left: 0px;
        top: 1px;
        border-radius: 0px;
        padding: 60px, 112px, 58px, 112px;
    }
    .textBanner {
        position: absolute;
        height: 40px;
        width: 1216px;
        left: 82px;
        top: 786px;
        font-family: "Playfair Display";
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }
    .ansiedade {
        position: absolute;
        height: 40px;
        width: 16px;
        left: 82px;
        top: 836px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Barlow";
        font-style: Medium;
        font-size: 20px;
        line-height: 28px;
    }
    .text_anxiety {
        position: absolute;
        width: 280px;
        height: 100px;
        top: 880px;
        left: 82px;
        //top: 936px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Barlow";
        //font-style: regular;
        font-size: 16px;
        //line-height: 20px;
        line-height: 144%;
    }
    .depression {
        position: absolute;
        height: 40px;
        width: 16px;
        left: 402px;
        top: 856px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Barlow";
        font-style: Medium;
        font-size: 20px;
        line-height: 28px;
    }
    .depressionText {
        position: absolute;
        width: 280px;
        height: 100px;
        top: 890px;
        left: 402px;
        //top: 936px;
        color: #ffffff;
        font-weight: 100;
        font-family: "Barlow";
        font-style: Medium;
        font-size: 16px;
        line-height: 20px;
        line-height: 144%;
    }
    .Luto {
        position: absolute;
        height: 40px;
        width: -5px;
        left: 702px;
        top: 850px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Barlow";
        font-style: normal;
        font-size: 20px;
        .lutoSpan {
            position: relative;
            height: 40px;
            width: -5px;
            left: 43px;
            margin-top: -18px;
            color: #ffff;
            font-weight: 400;
            font-family: "Barlow";
            font-style: normal;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .LutoText {
        position: absolute;
        width: 280px;
        height: 100px;
        top: 890px;
        left: 712px;
        //top: 936px;
        color: #ffffff;
        font-weight: 100;
        font-family: "Barlow";
        font-style: Medium;
        font-size: 16px;
        //line-height: 20px;
        line-height: 144%;
    }
    .abuso {
        position: absolute;
        height: 40px;
        width: -5px;
        left: 1022px;
        top: 850px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Barlow";
        font-style: normal;
        font-size: 20px;
        //line-height: 28px;
    }
    .abusoText {
        position: absolute;
        width: 280px;
        height: 100px;
        top: 896px;
        left: 1022px;
        //top: 936px;
        color: #ffffff;
        font-weight: 100;
        font-family: "Barlow";
        font-style: Medium;
        font-size: 16px;
        //line-height: 20px;
        line-height: 144%;
    }
}

.leftImg {
    position: relative;
    height: 583px;
    width: 488px;
    left: 112px;
    top: -38px;
    border-radius: 0px;
}

.textLeft {
    .final {
        position: absolute;
        font-family: "Playfair Display";
        font-style: Medium;
        font-size: 31px;
        font-weight: 500;
        line-height: 40px;
        height: 80px;
        width: 592px;
        left: 675px;
        margin-top: -560px;
    }
    .head {
        position: absolute;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 680px;
        margin-top: -450px;
        border-radius: 0px;
    }
    .paragraph1 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        margin-top: -448px;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        opacity: 70%;
        text-align: left;
    }
    .p2 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        opacity: 70%;
        margin-top: -410px;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .head2 {
        position: absolute;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 680px;
        margin-top: -400px;
        border-radius: 0px;
    }
    .p3 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        margin-top: -348.5px;
        opacity: 70%;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .head3 {
        position: absolute;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 680px;
        margin-top: -340px;
        border-radius: 0px;
    }
    .p4 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        margin-top: -312px;
        opacity: 70%;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .head4 {
        position: relative;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 680px;
        top: -272px;
        border-radius: 0px;
    }
    .p5 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        margin-top: -245px;
        opacity: 70%;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .head5 {
        position: relative;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 659.5px;
        top: -205.5px;
        border-radius: 0px;
    }
    .p6 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        margin-top: -176px;
        opacity: 70%;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .head6 {
        position: relative;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 638.5px;
        top: -133px;
        border-radius: 0px;
    }
    .p7 {
        position: absolute;
        height: 20px;
        width: 540px;
        left: 722px;
        margin-top: -108px;
        opacity: 70%;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .head7 {
        position: relative;
        height: 24.68752098083496px;
        width: 20.87845802307129px;
        left: 617.5px;
        top: -65px;
        border-radius: 0px;
    }
}

.contagem {
    position: absolute;
    height: 240px;
    width: 1116px;
    background-color: #bf743c;
    margin-left: 112px;
    margin-right: 112px;
    margin-top: 69px;
    border-radius: 0px;
    margin-bottom: 100px;
    padding: 84px, 58px, 84px, 58px;
}

.experience {
    position: absolute;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 400;
    margin-top: 148px;
    left: 168px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffff;
}

.paciente {
    position: absolute;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 400;
    margin-top: 148px;
    left: 558px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffff;
}

.horas {
    position: absolute;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 400;
    margin-top: 148px;
    left: 938px;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffff;
}