* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f4f7f7;
  font-family: Playfair Display, Montserrat, Barlow, sans-serif;
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;

  .wha {
    position: fixed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// input[type="checkbox"] {
//   display: none;

//   &:checked + label:before {
//     content: "";
//     background-image: url("/iconChecked.svg");
//     background-repeat: no-repeat;
//     border: 1px solid #d78950;
//     background-size: 15px 11px;
//     background-position: 2px 2px;
//     border-radius: 4px;
//   }
// }
