$white: #ffffff;
$white-color: #f7f7f7;
$white-primary-color: #f2f2f2;
$white-second-color: #d4d4d4;
$white-third-color: #f0f0f0;

$gray-color: #b5b5b5;

$black-color: #000000;
$text-black-color: #1e1e1e;

$blue-color: #273a51;
$light-blue-color: #cde0fd;

$orange-color: #e7975d;

$box-shadow-color1: rgba(113, 173, 173, 0.11);
$box-shadow-color2: rgba(198, 216, 216, 0.5);

$font-family-primary: "Barlow", sans-serif;
$font-family-second: "IBM Plex Sans", sans-serif;
$font-family-third: "Montserrat", sans-serif;
