$white: #ffffff;
$white-color: #f7f7f7;
$white-primary-color: #f2f2f2;
$white-second-color: #d4d4d4;
$white-third-color: #f0f0f0;
$white-quart-color: #e8e8e8;
$white-five-color: #d8d8d8;
$white-six-color: #e7e7e7;
$white-seven-color: #c9c9c9;
$white-eight-color: #dcdcdc;

$red-color: #d10438;
$pink-color: #a61a3e;

$gray-color: #b5b5b5;
$opacity-gray-color: #a6a6a680;
$opacity-gray-text-color: #1e1e1e80;
$light-gray-color: #b5b5b5;

$black-color: #000000;
$text-black-color: #1e1e1e;

$blue-color: #273a51;
$light-blue-color: #cde0fd;
$light-blue-color2: #7588a2;
$light-blue-color3: #c3bce7;
$light-blue-color4: #eaecec;
$light-blue-color5: #9fb2ce;

$orange-color: #e7975d;
$orange-color2: #a76029;
$light-orange-color: #ffddc4;
$light-orange-color2: #faece3;
$green-color: #5ed104;

$violet: #5746af;
$violet-hover: #ede9fe;
$violet-focus: #c4b8f3;

$puper-color: #5746af;
$yellow-color: #cc8d05;
$brown-color: #632700;

$box-shadow-color1: rgba(113, 173, 173, 0.11);
$box-shadow-color2: rgba(198, 216, 216, 0.5);

$box-shadow-color3: rgba(90, 90, 90, 0.2);

$font-family-primary: "Barlow", sans-serif;
$font-family-second: "IBM Plex Sans", sans-serif;
$font-family-third: "Montserrat", sans-serif;
$font-family-four: "Playfair Display", sans-serif;
